extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h4= title
  .row
    .col-12.col-lg-8
      p This is a multicuisine restaurant founded in the year 2021. 
        | Here, in our restaurant you will find special and unique dishes from all around the world,specializing in Nepali, Vietnamese, Indian and Chinese food. 
        | The food is presented to you with care and love by our chef team recruited from all around the world and lead by Chef Anh. 
        | Please enjoy your meal and if you enjoy our food and ambience, please rate us!

    h5.card-title Facilities &nbsp
              each facility in location.facilities
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{facility}
                | &nbsp;
    p
    //- col-12.col-sm-2 
    //-           .card.card-primary
    //-             .card-block
    //-               h4.card-title What's new
    //-               p.lead #{location.name} #{sidebar.context}
    //-               p= sidebar.callToAction
                  

    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          .card.card-primary
            .card-block
              h4.card-title Opening hours
              each time in location.openingTimes
                p.card-text
                  | #{time.days} :
                  if time.closed
                    | closed
                  else
                    | #{time.opening} - #{time.closing}
        .col-12.col-md-6
              .card.card-primary
                .card-block
                  h4.card-title What's new
                  p.lead #{location.name} #{sidebar.context}
                  p= sidebar.callToAction
      
        .col-12.col-md-6
                .card.card-primary
                      .card-block
                        h4.card-title Our Location
                        img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=47.617633,-122.3449637&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=AIzaSyDP7THmPS07ZxOCSxsiM_UycnCxrl43W_A')
                      
                        //- img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=AIzaSyDP7THmPS07ZxOCSxsiM_UycnCxrl43W_A')
           
      
        .col-12.col-md-6
          .card.card-primary
              .card-block
                //- h4.card-title Reviews
                a.btn.btn-primary.float-right(href='/about/review/new') Add review
              h4.card-title Customer reviews
              each review in location.reviews
                .row.review
                  .col-12.no-gutters.review-header
                    span.rating
                    +outputRating(review.rating)
                    | &nbsp;
                    span.reviewAuthor #{review.author}
                    | &nbsp;
                    small.reviewTimestamp #{review.timestamp}
                  .col-12
                    p !{(review.reviewText).replace(/\n/g, '<br/>')}
      
        .

        
    


                